h1{
  font-size: 35px;
  font-family:arial ;
  text-align: center;
  color: #202020;
  text-transform: uppercase;
}

li{
  margin-bottom:10px;
  padding: 15px 15px 15px;
  color:#0a6347;
  text-decoration: underline;
  font-family: arial;
  max-width: 300px;
  border-right: 2px #1e9f75 dotted;
}
li:hover{
  color: green;
}

ul{
  list-style:none;
  display: flex;
flex-direction: row;
flex-wrap: wrap;
}

body{
  background-color: white;
  margin:auto;
}

img{
  height: auto;
   width: auto;
   max-width: 300px;
   max-height: 300px;
   margin-top: 14px;
}

img:hover{
  opacity: 0.8;
}

.nav{
  display: flex;
  flex-direction:column;
  background-color: #1e9f75;
  position: sticky;
  width: 100%;
  top:0;
  z-index:10;
  color:white;
  border-bottom: #8fcfba 1px dotted;
}
